.login #login form{
	background-color: rgba(247, 247, 247, 0.57);
	position:relative;
	-webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 6px 6px rgba(0,0,0,0.3);
	box-shadow: 0 6px 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
}
.login #login form:after { 
    content: " ";
	width:100%;
	height:100%;	
	position:absolute;
	top: 0;
	left: 0;  
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment:fixed;
	box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.46);
}
.login label {
	color: #333;
}
.wp-core-ui .button-primary{
	background: #1abc9c;
	height: 34px;	
	padding: 0 18px 2px;
	box-shadow: none;
	border: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.wp-core-ui #login .button-primary.focus, .wp-core-ui .button-primary:focus{
	box-shadow: none;
	border: none;
}
.wp-core-ui #login .button-primary.focus, .wp-core-ui #login .button-primary.hover, .wp-core-ui #login .button-primary:focus, .wp-core-ui #login .button-primary:hover, .wp-core-ui #login .button-primary:hover{
	background: #333;
}
.login #backtoblog a, .login #nav a {
	color: #5f5d5d;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);   
}
#backtoblog{
	float:left;
}
#nav{
	float:right;
}
.login #backtoblog, .login #nav{
	padding:0px;
	margin: 25px 0 0 0;
}
.login #backtoblog a:hover, .login #nav a:hover{
	color:#333;
}
input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
    border-color: #a4a4a4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}














